@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #242424;
  --secondary-color: #919191;
  --optional-color: #3e1800;
  --brown-color: #3e1800;
  --button-color: #f8f6f5;
  --yellow-color: #f4bd62;
  --gray-color: #ebebeb;
  --section-bg-color: #f5f5f5ff;
  --category-color: #bdc1caff;
  --paragraph-color: #7e6454ff;
  --border-color: #eaeaea;
  --backdrop: rgb(0 0 0 / 50%);
}

/*Menu style*/
.menu-item {
  @apply text-primary text-[0.9rem] lg:text-base lg:px-4 font-inter hover:opacity-80 cursor-pointer font-[600];
}

.menu-icon {
  @apply w-6 md:w-8 cursor-pointer z-30;
}

.slider-icon {
  @apply w-[35px] hover:opacity-[0.8] cursor-pointer rounded-full bg-white p-[7px] bottom-7 border-gray shadow-md hover:bg-yellow;
}

.wishlisted {
  @apply bg-yellow;
}

.hamburger-menu {
  @apply lg:hidden pr-1 w-[35px];
}

/*Button style*/
.btn-primary {
  @apply bg-brown py-[10px] px-[20px] text-buttonColor hover:opacity-80 flex items-center text-[0.8rem] lg:text-[1rem];
}

.cart-btn {
  @apply text-center py-2 w-full;
}

.list-item {
  @apply pt-2 text-[0.8rem] list-none leading-6;
}

.content {
  @apply max-w-screen-xl mx-auto px-5;
}

.card {
  @apply cursor-pointer;
}

.cardCount {
  @apply flex justify-center items-center bg-yellow text-white w-[20px] h-[20px] text-[0.7rem] rounded-xl font-epilogue font-bold absolute bottom-4 z-0;
}
/*Icons*/
.social-media-icons {
  @apply p-[2px] outline outline-8 outline-[#573621] w-[27px] hover:opacity-[0.8];
}

.filter-icons,
.cart-icons {
  @apply w-[1rem];
}

.yellow-rounded {
  @apply w-[35px] h-[35px] bg-yellow rounded-full absolute right-[-8px] z-[-1] bottom-0;
}
.two-cols {
  @apply relative h-[40px];
}
.less-section-space {
  @apply pb-0 !important;
}
.info-icon {
  @apply h-[35px] w-[35px] md:h-[45px] md:w-[45px];
}
.plusMinus {
  @apply text-[0.7rem] lg:font-[1rem] w-[30px] md:w-[45px] lg:w-[49px] h-[30px] md:h-[45px] lg:h-[49px] p-[5px] md:p-[14px] lg:p-[15px] border-borderColor text-center font-epilogue cursor-pointer;
}

.table-item {
  @apply font-epilogue px-4 md:px-6 py-2 md:py-4;
}

.table-head {
  @apply font-epilogue px-4 md:px-6 py-2 md:py-3;
}
.order-table-head {
  @apply px-0 font-medium;
}
/*FILTER STYLE*/
.filter-item,
.cart-item {
  @apply mb-1 text-[0.8rem] lg:text-[0.9rem];
}
.filter-section,
.cart-section {
  @apply py-2 lg:py-4 border-b-2 border-[#eaeaea];
}

.mobile-filter {
  @apply flex py-2 px-4  border-2 border-borderColor rounded-[0.2em] w-fit mb-7 cursor-pointer text-primary opacity-[0.8] text-[0.8rem] items-center;
}
.filter-header,
.cart-header {
  @apply font-epilogue text-[0.8rem] lg:text-[0.9rem] font-semibold mb-[1rem] w-[70%];
}
/* .cart-sidebar {
  @layer h-[calc(100vh - 30%)];
} */

.filter-content {
  @apply font-epilogue text-[#484848];
}
.sort-text {
  @apply text-[0.8rem] lg:text-[1rem];
}

.selected-filter {
  @apply flex bg-yellow py-2 px-4  hover:opacity-[0.8] cursor-pointer text-[0.9rem];
}

.sort svg {
  @apply text-primary;
}

.prod-paragraph {
  @apply font-epilogue font-semibold text-[0.9rem] lg:text-base text-primary;
}

.prod-paragraph-value {
  @apply font-inter text-base text-secondary font-medium;
}
.prod-details .slick-prev.slick-disabled:before,
.prod-details .slick-next.slick-disabled:before {
  opacity: 1 !important;
}
.prod-details .slick-prev:before,
.prod-details .slick-next:before {
  color: #171a1fff !important;
  background: #ffffff;
  padding: 12px !important;
}
.prod-details .slick-prev:before {
  content: "<" !important;
}
.prod-details .slick-next:before {
  content: ">" !important;
}
.prod-details .slick-prev:before,
.prod-details .slick-next:before {
  font-family: "Epilogue" !important;
  font-weight: 500 !important;
  font-size: 30px !important;
}
.prod-details .slick-prev {
  @apply z-10 left-[20px];
}

.prod-details .slider-container:hover button {
  @apply hidden;
}

.prod-details .slider-container:hover button {
  @apply block;
}

.prod-details .slick-dots.button__bar li.slick-active button:before {
  @apply text-[#f4bd62];
}

.prod-details .slick-dots.button__bar li button:before {
  @apply font-[10px];
}

.prod-details .slick-next {
  @apply right-[45px];
}

.prod-details .slick-prev:hover:before,
.prod-details .slick-prev:focus:before,
.prod-details .slick-next:hover:before,
.prod-details .slick-next:focus:before {
  @apply bg-[#f4bd62];
}

/*CHECKBOX STYLE*/
.cat-checkbox:checked ~ svg {
  @apply opacity-100;
}

.cat-checkbox:checked {
  @apply bg-optional border-optional;
}

/*SLIDER STYLE*/

.multi-range-slider.price-slider .bar-left,
.multi-range-slider.price-slider .bar-right,
.multi-range-slider.price-slider .thumb::before,
.multi-range-slider.price-slider .thumb .caption * {
  @apply shadow-none;
}
.multi-range-slider.price-slider .thumb .caption * {
  @apply bg-yellow;
}
.multi-range-slider.price-slider .bar-left {
  @apply py-[0.1rem];
}

.multi-range-slider.price-slider .thumb::before {
  @apply w-[15px] lg:w-[20px] h-[15px] lg:h-[20px]  mt-[-6px] lg:mt-[-8px];
}

/*CHECKOUT STYLE*/
.input-label {
  @apply block tracking-wide text-primary text-[1rem] font-[600] mb-2 font-epilogue;
}

.input-style {
  @apply appearance-none block w-full text-[0.8rem] text-primary border py-3 px-4 mb-3 border-borderColor leading-tight focus:outline-none focus:bg-white font-epilogue;
}

input.error {
  @apply border-red-500;
}

.full-screen {
  @apply w-full py-20 flex-grow;
}
