@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #171a1fff;
  --secondary-color: #9095a1ff;
  --brown-color: #3d1700ff;
  --button-color: #f8f6f5;
  --yellow-color: #f4bd62;
  --gray-color: #ebebeb;
  --section-bg-color: #f5f5f5ff;
  --category-color: #bdc1caff;
}
.menu-item {
  @apply text-primary font-medium text-xs lg:text-base lg:px-4 font-inter hover:opacity-80 cursor-pointer;
}

.menu-icon {
  @apply w-6 md:w-8 hover:opacity-90 cursor-pointer;
}

.slider-icon {
  @apply w-[35px] hover:opacity-90 cursor-pointer rounded-full bg-white p-[7px] bottom-7 border-gray shadow-md hover:bg-yellow;
}
.hamburger-menu {
  @apply lg:hidden pr-1 w-[35px];
}

.btn-primary {
  @apply bg-brown py-[10px] px-[20px] text-buttonColor hover:opacity-80 flex items-center text-base lg:text-lg;
}

/* .slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 1 !important;
}
.slick-prev:before {
  color: #171a1fff !important;
  background: #f4bd62;
  padding: 12px !important;
  content: "<" !important;
}
.slick-prev:before,
.slick-next:before {
  font-family: "Epilogue" !important;
  font-weight: 500 !important;
  font-size: 30px !important;
}
.slick-prev {
  left: -58px !important;
}

.slider-container:hover button {
  display: none !important;
}

.slider-container:hover button {
  display: block !important;
} */

.slick-dots.button__bar li.slick-active button:before {
  color: #f4bd62;
}

.slick-dots.button__bar li button:before {
  font-size: 10px;
}
