@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #242424;
  --secondary-color: #919191;
  --optional-color: #3e1800;
  --brown-color: #3e1800;
  --button-color: #f8f6f5;
  --yellow-color: #f4bd62;
  --gray-color: #ebebeb;
  --section-bg-color: #f5f5f5ff;
  --category-color: #bdc1caff;
  --paragraph-color: #7e6454ff;
  --border-color: #eaeaea;
}

/*Menu style*/
.menu-item {
  @apply text-primary font-medium text-xs lg:text-base lg:px-4 font-inter hover:opacity-80 cursor-pointer;
}

.menu-icon {
  @apply w-6 md:w-8 hover:opacity-90 cursor-pointer;
}

.slider-icon {
  @apply w-[35px] hover:opacity-[0.8] cursor-pointer rounded-full bg-white p-[7px] bottom-7 border-gray shadow-md hover:bg-yellow;
}
.hamburger-menu {
  @apply lg:hidden pr-1 w-[35px];
}

/*Button style*/
.btn-primary {
  @apply bg-brown py-[10px] px-[20px] text-buttonColor hover:opacity-80 flex items-center text-base lg:text-lg;
}

.list-item {
  @apply py-2 text-[0.8rem] list-none leading-6;
}

.content {
  @apply max-w-screen-xl mx-auto px-5;
}

.card {
  @apply cursor-pointer;
}
/*Icons*/
.social-media-icons {
  @apply p-[7px] outline outline-8 outline-[#573621] w-[27px] hover:opacity-[0.8];
}

.filter-icons {
  @apply w-[1rem];
}

/*FILTER STYLE*/
.filter-item {
  @apply mb-1;
}
.filter-section {
  @apply py-4 border-b-2 border-[#eaeaea];
}

.filter-header {
  @apply font-epilogue text-base font-semibold mb-[1.5rem];
}

.filter-content {
  @apply font-epilogue text-[#484848];
}

.selected-filter {
  @apply flex bg-yellow py-2 px-4  hover:opacity-[0.8] cursor-pointer;
}

.sort svg {
  @apply text-primary;
}
/* .slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 1 !important;
}
.slick-prev:before {
  color: #171a1fff !important;
  background: #f4bd62;
  padding: 12px !important;
  content: "<" !important;
}
.slick-prev:before,
.slick-next:before {
  font-family: "Epilogue" !important;
  font-weight: 500 !important;
  font-size: 30px !important;
}
.slick-prev {
  left: -58px !important;
}

.slider-container:hover button {
  display: none !important;
}

.slider-container:hover button {
  display: block !important;
} */

.slick-dots.button__bar li.slick-active button:before {
  color: #f4bd62;
}

.slick-dots.button__bar li button:before {
  font-size: 10px;
}

/*CHECKBOX STYLE*/
#check-box-1:checked ~ .check-1 {
  @apply opacity-100;
}

#check-box-1:checked {
  @apply bg-optional border-optional;
}

/*SLIDER STYLE*/

.multi-range-slider.price-slider .bar-left,
.multi-range-slider.price-slider .bar-right,
.multi-range-slider.price-slider .thumb::before,
.multi-range-slider.price-slider .thumb .caption * {
  @apply shadow-none;
}
.multi-range-slider.price-slider .thumb .caption * {
  @apply bg-yellow;
}
.multi-range-slider.price-slider .bar-left {
  @apply py-[0.1rem];
}
